@import "../../../styles/variables.scss";

.revenueForm-container {
  width: 20rem;
  margin: $margin2x auto;

  @media only screen and (min-width: $desktopLarge) {
    width: 30rem;
  }

  @media only screen and (max-width: $desktopSmall) {
    width: 30rem;
  }

  @media only screen and (max-width: $mobileMedium) {
    width: 90%;
  }

  input {
    border-radius: 20px;
    background: transparent;
    outline: none;
    @media only screen and (min-width: $desktopLarge) {
      font-size: 1.5rem;
    }
  }

  .ant-form-item-explain-error {
    color: $neutralWhite;
    margin: $margin1x 0;
    text-align: initial;
  }

  .cta {
    .btn {
      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.5rem;
      }
    }
  }
}
