@import "../../styles/variables.scss";

.choose-container {
  padding: $sectionSpacing 0;
  background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654844660/Upzyde/why_choose_upzyde_bg_1_aufhif.webp);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100vw 60vh;

  @media only screen and (min-width: $desktopLarge) {
    padding: 6rem 0;
    // background-size: 100% 50vh;
    background-size: 100vw 38vh;
  }

  h2 {
    font-size: $sectionTitle;
    color: $neutralWhite;
    text-transform: uppercase;
    margin-bottom: $margin2x;
    @media only screen and (min-width: $desktopLarge) {
      font-size: 2rem;
      line-height: 35px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 1.3rem;
    }

    @media only screen and (max-width: $mobile) {
      text-align: center;
    }

    span {
      display: block;
    }
  }

  .content {
    display: flex;
    color: $neutralWhite;
    flex-wrap: wrap;
    gap: 1rem;

    @media only screen and (max-width: $mobile) {
      column: 5rem;
      justify-content: center;
    }

    .card {
      background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654846646/Upzyde/why_choose_upzyde_bg-icon-bg_1_ctdeqg.webp);
      background-repeat: no-repeat;
      background-size: cover;

      width: 30%;
      padding: 1rem;
      padding-top: 2rem;

      @media only screen and (max-width: $mobile) {
        width: 35%;
      }

      @media only screen and (max-width: $mobileMedium) {
        width: 60%;
      }

      @media only screen and (max-width: $mobileSmall) {
        width: 100%;
      }

      .card-txt {
        margin-top: $margin1x;
      }

      .txt-head {
        font-weight: bold;
        font-size: 1rem;

        @media only screen and (min-width: $desktopLarge) {
          font-size: 1.5rem;
        }
      }

      .txt-para {
        margin-bottom: 1rem;
        @media only screen and (min-width: $desktopLarge) {
          font-size: 1.1rem;
        }
        span {
          display: block;
        }
      }
    }
  }
}
