@import "../../styles/variables.scss";

.revenue-container {
  padding: $sectionSpacing 0;
  text-align: center;

  .form-container {
    margin: $margin3x 0;
    position: relative;
    color: $neutralWhite;
    padding: 2rem;
    background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654507449/Upzyde/increase_your_revenue_1_wox80x.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    @media only screen and (min-width: $desktopLarge) {
      padding: 3rem;
    }

    .form-content {
      //   position: absolute;

      h2 {
        font-size: $sectionTitle;
        @media only screen and (min-width: $desktopLarge) {
          font-size: 2rem;
        }

        .sentence-break {
          display: block;
        }
      }

      p {
        font-size: $sectionPara;

        @media only screen and (min-width: $desktopLarge) {
          font-size: 1.5rem;
        }
      }
    }
  }
}
