@import "../../styles/variables.scss";

.revenue-container {
  padding: $sectionSpacing 0;
  text-align: center;

  @media only screen and (max-width: $desktopSmall) {
    padding: 2rem 0;
  }

  .form-container {
    margin: $margin3x 0;
    position: relative;
    color: $neutralWhite;
    padding: 2rem;
    background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654507449/Upzyde/increase_your_revenue_1_wox80x.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    // display: flex;
    // justify-content: center;
    // align-items: center;

    @media only screen and (min-width: $desktopLarge) {
      padding: 3rem;
    }

    @media only screen and (max-width: $desktopSmall) {
      background-size: 100% 100%;
    }

    @media only screen and (max-width: $mobileMedium) {
      padding: 1.5rem;
      margin: 1rem 0;
    }

    .form-content {
      //   position: absolute;

      h2 {
        font-size: $sectionTitle;
        @media only screen and (min-width: $desktopLarge) {
          font-size: 2rem;
        }

        @media only screen and (max-width: $desktopSmall) {
          font-size: 1.3rem;
        }

        @media only screen and (max-width: $mobile) {
          font-size: 1.1rem;
          line-height: 25px;
        }

        .sentence-break {
          display: block;

          @media only screen and (max-width: $mobileMedium) {
            display: inline;
          }
        }
      }

      p {
        font-size: $sectionPara;

        @media only screen and (min-width: $desktopLarge) {
          font-size: 1.5rem;
        }

        @media only screen and (max-width: $desktopSmall) {
          font-size: 1rem;
        }

        @media only screen and (max-width: $mobile) {
          font-size: 0.8rem;
        }
      }

      .cta {
        .btn {
          @media only screen and (max-width: $desktopSmall) {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
