@import "../../styles/variables.scss";

.scroll-container {
  position: relative;
}

.scroll-text {
  position: absolute;
  color: #fff;
  bottom: 50px;
  left: 52%;
  font-weight: bold;
  //   transform: translate(20%, -%);

  @media only screen and (max-width: $mobileMedium) {
    display: none;
  }
}

.scroll-down {
  border: 2px solid #fff;
  border-radius: 20px;
  bottom: 40px;
  height: 40px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;

  @media only screen and (max-width: $mobileMedium) {
    bottom: 20px;
  }
}
.scroll-down::before {
  animation: scrollDownAnimation 2s infinite;
  background-color: #fff;
  border-radius: 100%;
  content: "";
  height: 6px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 10px;
  width: 6px;
}
@-moz-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes scrollDownAnimation {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 0;
  }
}
