@import "../../styles/variables.scss";

.why-joinus-container {
  padding: $sectionSpacing 0;
  text-align: center;
  background-color: #f2f2f257;

  @media only screen and (max-width: $desktopSmall) {
    padding: 2rem 0;
  }

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;

    @media only screen and (min-width: $desktopLarge) {
      font-size: $sectionTitleBig;
    }
    @media only screen and (max-width: $mobile) {
      font-size: $sectionTitleSmall;
    }
  }

  .content {
    padding: 3rem 0;

    .ant-tabs-nav {
      margin: 0;
      // display: none;

      &::before {
        border-bottom: transparent;
      }
    }
    .ant-tabs-tab {
      background-color: #ddd;
      padding: 0.5rem 1.5rem;
      color: black;
      font-weight: $medium;
      font-family: $primaryType;
      margin: 0;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      z-index: 2;
    }

    .ant-tabs-tab-active {
      background-color: #ef473e;
      // rgb(255 66 14 / 88%)
      border: none;

      button {
        border: none;
      }

      .ant-tabs-tab-btn {
        color: $neutralWhite;
      }
    }
    .ant-tabs-content-holder {
      background-color: #dd3a31;
      color: $neutralWhite;
      padding: 2rem;
      text-align: left;
      // margin-top: -10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      @media only screen and (max-width: $mobile) {
        border-top-right-radius: 0;
      }

      h3 {
        color: $neutralWhite;
      }
    }
  }
}
