@import "../../../styles/variables.scss";

.overview-containerOther {
  padding: $sectionSpacing 0;
  background-color: $neutralBlack;
  color: $neutralWhite;

  .section-content {
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 28px;
    font-size: $sectionPara;

    p {
      margin-bottom: $margin1halfx;
    }
  }

  .cta {
    margin-top: $margin1halfx;
    text-align: center;
    color: $neutralBlack;
  }
}
