@import "../../../styles/variables.scss";

.ad-dev-container {
  .advertisers {
    background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654850284/Upzyde/brand_advertiser-1_tzseqv.webp);
  }

  .developers {
    background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654850285/Upzyde/game_developer-1_p1psbo.webp);
  }
  .advertisers,
  .developers {
    padding: 6rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $neutralWhite;

    @media only screen and (max-width: $desktopSmall) {
      background-position: 70%;
      padding: 4rem 0;
    }

    h2 {
      font-size: 1.7rem;
      text-transform: uppercase;
      @media only screen and (min-width: $desktopLarge) {
        font-size: 2rem;
        line-height: 35px;
      }

      @media only screen and (max-width: $desktopSmall) {
        font-size: 1.5rem;
      }

      @media only screen and (max-width: $mobile) {
        font-size: 1.3rem;
      }
    }

    p {
      font-size: 1rem;
      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.5rem;
      }
      @media only screen and (max-width: $desktopSmall) {
        font-size: 0.9rem;
      }
      span {
        display: block;
      }
    }

    .cta {
      margin-top: $margin2x;
      .btn {
        color: $neutralBlack;
        font-size: 1rem;
        @media only screen and (min-width: $desktopLarge) {
          font-size: 1.3rem;
        }

        @media only screen and (max-width: $desktopSmall) {
          font-size: 0.8rem;
        }
      }
    }
  }
}
