@import "../../styles/variables.scss";

.publisher-container {
  padding: $sectionSpacing 0;
  text-align: center;
  background-color: $primaryRed;
  color: $neutralWhite;
  //   text-align: center;

  @media only screen and (max-width: $desktopSmall) {
    padding: 2rem 0;
  }

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;
    // text-align: center;
    margin: 0 auto;

    @media only screen and (min-width: $desktopLarge) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $desktopSmall) {
      font-size: 1.3rem;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 1.1rem;
    }

    .sentence-break {
      display: block;

      @media only screen and (max-width: $mobile) {
        display: inline;
      }
    }
  }

  .slider-container {
    position: relative;
    width: 700px;
    margin: 0 auto;

    @media only screen and (min-width: $desktopLarge) {
      width: 900px;
    }

    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  .slider-desktop {
    @media only screen and (max-width: $mobileMedium) {
      display: none;
    }
  }

  .slider-mobile {
    display: none;

    @media only screen and (max-width: $mobileMedium) {
      display: block;
    }
  }

  .ant-carousel {
    width: 600px;
    margin: $margin1x auto;
    color: $neutralWhite;

    @media only screen and (min-width: $desktopLarge) {
      width: 800px;
    }

    @media only screen and (max-width: $mobile) {
      width: 500px;
    }

    @media only screen and (max-width: $mobileMedium) {
      width: 100%;
    }
  }

  .slider {
    padding: 4rem;
    background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654583103/Upzyde/helping_publisher_blocks1_1_n815yw.webp);
    background-size: 100% 100%;
    background-repeat: no-repeat, repeat;
    background-position: center;
    @media only screen and (min-width: $desktopLarge) {
      background-size: 100% 100%;
    }

    @media only screen and (max-width: $mobile) {
      padding: 3rem;
      margin-bottom: 2rem;
    }

    &-title {
      font-weight: $bold;
      font-size: 1rem;
      margin-bottom: $margin1x;
      text-transform: uppercase;
      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.5rem;
      }

      @media only screen and (max-width: $desktopSmall) {
        font-size: 0.9rem;
      }
    }

    &-description {
      font-weight: $regular;
      font-size: 0.8rem;
      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.1rem;
      }

      @media only screen and (max-width: $desktopSmall) {
        font-size: 0.7rem;
      }
    }
  }

  .arrow {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .prev-arrow {
    left: 0;
    bottom: 45%;
    @media only screen and (min-width: $desktopLarge) {
      bottom: 50%;
      left: 0;
    }

    @media only screen and (max-width: $mobile) {
      // left: 10%;
    }
  }

  .next-arrow {
    right: 0;
    bottom: 45%;
    @media only screen and (min-width: $desktopLarge) {
      bottom: 50%;
      right: 0;
    }

    @media only screen and (max-width: $mobile) {
      // right: 10%;
    }
  }
}
