@import "../../styles/variables.scss";

.publisher-container {
  padding: $sectionSpacing 0;
  text-align: center;
  background-color: $primaryRed;
  color: $neutralWhite;
  //   text-align: center;

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;
    // text-align: center;
    margin: 0 auto;

    .sentence-break {
      display: block;
    }
  }
}
