@import "../../../styles/variables.scss";

.rqDemo-container {
  padding: $sectionSpacing 0;

  .formItem-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .cta {
    margin: $margin2x 0;
    text-align: center;
    button {
      background-color: $primaryRed;
      color: $neutralWhite;
    }
  }
}
