@import "../../styles/variables.scss";

.formats-container {
  padding: $sectionSpacing 0;
  background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654148784/Upzyde/ad_format_1_sc2zew.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: $neutralWhite;
  @media only screen and (max-width: $mobile) {
    padding: $sectionSpacingSmall 0;
  }

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $margin2x;

    @media only screen and (min-width: $desktopLarge) {
      font-size: $sectionTitleBig;
    }

    @media only screen and (max-width: $mobile) {
      font-size: $sectionTitleSmall;
      margin-bottom: $margin1x;
    }
  }

  .slider-container {
    width: 450px;
    margin: 2rem auto;

    @media only screen and (max-width: $mobileSmall) {
      width: 300px;
    }
    .slider {
      height: 15rem;
      @media only screen and (max-width: $mobileSmall) {
        height: 12rem;
      }
    }

    .ant-carousel-vertical {
      .slick-dots-right {
        right: 0;
      }

      .slick-dots {
        li {
          height: 10px;
          button {
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .content-txt {
    width: 55%;

    @media only screen and (min-width: $desktopLarge) {
      font-size: 1.3rem;
    }

    @media only screen and (max-width: $mobile) {
      width: 45%;
    }
  }

  .content-images {
    width: 40%;
    display: flex;
    align-items: center;
    @media only screen and (max-width: $mobile) {
      width: 45%;
    }
  }
}
