// colors
$primary: #1995ad;
$primaryRed: #ff420e;
$neutralWhite: #ffffff;
$neutralBlack: #262626;
$neutralGray: #f2f2f2;

// screen sizes
$desktopMedium: 1200px;
$desktopSmall: 1000px;
$mobile: 800px;
$mobileMedium: 600px;

// font types
$primaryType: "Montserrat";

// font weights
$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 800;

// spacing
$sectionSpacing: 4rem;
$sectionSpacingSmall: 3rem;
$margin3x: 3rem;
$margin2x: 2rem;
$margin1halfx: 1.5rem;
$margin1x: 1rem;
$marginhalfx: 0.5rem;

// font sizing
$heroTitle: 2.8rem;
$heroSubTitle: 1.3rem;
$sectionTitle: 1.8rem;
$sectionTitleSmall: 1.4rem;
$sectionSubTitle: 1.5rem;
$sectionSubTitleSmall: 1.2rem;
$sectionPara: 1rem;
$sectionParaSmall: 0.9rem;
$default: 1rem;
$cardTitle: 1.4rem;
$cardTitleSmall: 1.2rem;
$cardPara: 1rem;
$cardParaSmall: 0.9rem;
