// colors
$primary: #1995ad;
$primaryRed: #ff420e;
$gradientOne: #0c5c6c;
$neutralWhite: #ffffff;
$neutralBlack: #262626;
$neutralGray: #f2f2f2;

// screen sizes
$desktopLarge: 1500px;
$desktopMedium: 1300px;
$desktopSmall: 1110px;
$mobile: 870px;
$mobileMedium: 700px;
$mobileSmall: 600px;

// font types
$primaryType: "Montserrat";

// font weights
$regular: 400;
$medium: 500;
$bold: 800;

// spacing
$sectionSpacing: 4rem;
$sectionSpacingSmall: 2rem;
$margin3x: 3rem;
$margin2x: 2rem;
$margin1halfx: 1.5rem;
$margin1x: 1rem;
$marginhalfx: 0.5rem;

// font sizing
$heroTitle: 1.5rem;

$sectionTitleBig: 2rem;
$sectionTitle: 1.5rem;
$sectionTitleSmall: 1.3rem;

$sectionSubTitleBig: 1.7rem;
$sectionSubTitle: 1.3rem;
$sectionSubTitleSmall: 1.2rem;

$sectionPara: 1rem;
$sectionParaSmall: 0.9rem;

$default: 1rem;

$cardTitleBig: 1.6rem;
$cardTitle: 1.4rem;
$cardTitleSmall: 1.2rem;

$cardParaBig: 1.2rem;
$cardPara: 1rem;
$cardParaSmall: 0.9rem;
