@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import "../../styles//variables.scss";

.container {
  max-width: 1500px;
  margin: 0 auto;
}

.inner-container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;

  @media only screen and (min-width: $desktopLarge) {
    max-width: 1200px;
  }
}

// screens
.mobile {
  display: none;
  @media only screen and (max-width: $mobile) {
    display: block;
  }
}

.desktop {
  @media only screen and (max-width: $mobile) {
    display: none;
  }
}
// form defaults

input,
.ant-input {
  width: 100%;
  padding: 0.4rem 0.8rem;
  outline: none;
}
.ant-form-item {
  width: 100%;
}

.ant-form-item-explain-error {
  color: $primaryRed;
  font-size: 0.7rem;
}

// btn defaults

.btn {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;

  @media only screen and (min-width: $desktopLarge) {
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
  }
}
