@import "../../../styles//variables.scss";

.developer-hero {
  position: relative;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  @media only screen and (max-width: $mobile) {
    // height: 35vw;
  }

  .hero-image {
    grid-column: 1 / span 12;
    grid-row: 1 / span 12;
    @media only screen and (max-width: $mobile) {
      // height: 35vw;
      display: none;
    }
  }

  .content {
    // position: absolute;
    // top: 35%;
    // right: 20%;
    color: $neutralWhite;
    text-transform: uppercase;

    grid-column: 8 / 12;
    grid-row: 5 / span 8;
    z-index: 2;

    h2 {
      margin: $margin1x 0;
      font-size: 1.5rem;
      background-image: linear-gradient(to right, $primaryRed, #bd310a);

      padding: 0.7rem;
      width: fit-content;

      @media only screen and (max-width: $desktopSmall) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: $mobile) {
        font-size: 1rem;
      }
    }
  }
}
