@import "../../../styles//variables.scss";

.developer-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .hero-image {
    text-align: center;
  }

  .content {
    position: absolute;
    top: 35%;
    right: 20%;
    color: $neutralWhite;
    text-transform: uppercase;

    h2 {
      margin: $margin1x 0;
      font-size: $heroTitle;
      //   background-color: $primaryRed;
      background-image: linear-gradient(to right, $primaryRed, #bd310a);

      padding: 0.7rem;
      width: fit-content;
    }
  }
}
