@import "../../styles/variables.scss";

.page-header {
  background-color: rgba($color: $neutralBlack, $alpha: 0.85);
  // padding: 1.5rem 0;
  color: $neutralWhite;
  font-family: $primaryType;
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  //   box-shadow: 0px 4px 11px -2px rgb(0 0 0 / 25%);
  @media only screen and (max-width: $desktopSmall) {
    // padding: 1.2rem;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-logo {
    background-color: $neutralWhite;
    padding: 1.2rem;
    // width: 10rem;
    border-bottom-left-radius: 10px;
  }

  .other-logo {
    padding: 1.2rem;
  }
  .logo {
    width: 10rem;

    @media only screen and (min-width: $desktopLarge) {
      width: 12rem;
    }
    @media only screen and (max-width: $desktopSmall) {
      width: 10rem;
    }
  }

  // .divider {
  //   width: 15%;

  //   @media only screen and (min-width: $desktopLarge) {
  //     width: 10%;
  //   }

  //   @media only screen and (max-width: $desktopSmall) {
  //     width: 5%;
  //   }

  //   @media only screen and (max-width: $mobile) {
  //     display: none;
  //   }
  // }

  .nav-links {
    // width: 55%;
    // flex: 1;
    column-gap: 1.5rem;
    font-weight: $medium;
    @media only screen and (max-width: $desktopSmall) {
      column-gap: 1rem;
    }

    .link {
      cursor: pointer;
      padding: 0.3rem 1rem;
      font-size: 0.8rem;
      font-weight: $regular;

      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.2rem;
        padding: 0.5rem 1.5rem;
      }

      &:hover {
        background-color: $primaryRed;

        border-radius: 30px;
      }
    }

    .active {
      background-color: $primaryRed;
      border-radius: 30px;
    }
  }

  .desktop-nav {
    @media only screen and (max-width: $desktopSmall) {
      display: none;
    }
  }

  .mobile-nav {
    display: none;
    width: 1.5rem;
    cursor: pointer;
    margin-right: 1.2rem;

    @media only screen and (max-width: $desktopSmall) {
      display: block;
    }

    span {
      display: block;
      height: 0.2rem;
      background-color: $neutralWhite;
      margin: 0.3rem 0;
    }

    .mobile-nav-links {
      position: absolute;
      background-color: rgba($color: $neutralBlack, $alpha: 0.85);
      right: 0;
      width: 100%;
      top: 74px;
      display: flex;
      flex-direction: column;

      a {
        font-size: 0.8rem;
        padding: 1rem;
      }
    }
  }
}
