@import "../../styles/variables.scss";

.page-header {
  background-color: rgba($color: $neutralBlack, $alpha: 0.85);
  padding: 1.5rem 0;
  color: $neutralWhite;
  font-family: $primaryType;
  position: fixed;
  width: 80%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 10;
  //   box-shadow: 0px 4px 11px -2px rgb(0 0 0 / 25%);
  @media only screen and (max-width: $desktopSmall) {
    padding: 1rem 0;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 7rem;
    @media only screen and (max-width: $desktopSmall) {
      width: 5rem;
    }
  }

  .divider {
    width: 15%;

    @media only screen and (max-width: $desktopSmall) {
      width: 10%;
    }
  }

  .nav-links {
    // width: 55%;
    flex: 1;
    font-weight: $medium;

    .link {
      cursor: pointer;
      padding: 0.3rem 0.7rem;
      font-size: 0.8rem;
      font-weight: $regular;

      &:hover {
        background-color: $primaryRed;

        border-radius: 20px;
      }
    }

    .active {
      background-color: $primaryRed;
      border-radius: 20px;
    }
  }

  .desktop-nav {
    @media only screen and (max-width: $mobile) {
      display: none;
    }
  }

  .mobile-nav {
    display: none;
    width: 1.5rem;
    cursor: pointer;

    @media only screen and (max-width: $mobile) {
      display: block;
    }

    span {
      display: block;
      height: 0.2rem;
      background-color: $neutralWhite;
      margin: 0.3rem 0;
    }

    .mobile-nav-links {
      position: absolute;
      background-color: rgba($color: $neutralBlack, $alpha: 0.85);
      right: 0;
      width: 100%;
      display: flex;
      flex-direction: column;

      a {
        font-size: 0.8rem;
        padding: 1rem;
      }
    }
  }
}
