@import "../../styles//variables.scss";

.works-container {
  padding: $sectionSpacing 0;
  text-align: center;
  @media only screen and (max-width: $mobile) {
    padding: $sectionSpacingSmall 0;
  }

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;

    @media only screen and (min-width: $desktopLarge) {
      font-size: $sectionTitleBig;
    }
    @media only screen and (max-width: $mobile) {
      font-size: $sectionTitleSmall;
    }
  }

  .content {
    width: 60%;
    margin: $margin2x auto;
    @media only screen and (max-width: $mobile) {
      width: 70%;
    }
  }

  .cta {
    margin-top: $margin1halfx;
    text-align: center;

    .btn {
      color: $neutralBlack;
      background-color: transparent;
      border: 1px solid $neutralBlack;
      &:hover {
        color: $neutralWhite;
        background-color: $primaryRed;
        border: 1px solid $primaryRed;
      }
    }
  }
}
