@import "../../styles/variables.scss";

.footer-section {
  //   for testing
  height: 50rem;
  /////

  background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654064857/Upzyde/footer-1_g1ldpe.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 50rem;
  // background-size: cover;

  .grid-container {
    display: grid;

    grid-template-rows: repeat(10, 1fr);
    height: 100%;
  }

  .newsletter-section {
    grid-row: 6;
    background-color: $neutralWhite;
    padding: 2rem;
  }

  .quick-links {
    grid-row: 8;
  }

  .logo {
    width: 8rem;
  }

  .copyright-section {
    // justify-self: flex-end;
    grid-row: 10;
    background-color: $primary;
    color: $neutralWhite;
    font-weight: $medium;
    font-size: 0.8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
  }
}
