@import "../../styles/variables.scss";

.footer-section {
  height: 50rem;

  background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654413698/Upzyde/footer-1_1_zpvmbi.webp);

  // background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1655212030/Upzyde/footer-1_gmw5z4.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 50rem;
  // background-size: cover;

  @media only screen and (min-width: $desktopLarge) {
    height: 70rem;
    background-size: 100% 70rem;
  }

  .grid-container {
    display: grid;

    grid-template-rows: repeat(10, 1fr);
    height: 100%;
  }

  .newsletter-section {
    grid-row: 6;
    background-color: $neutralWhite;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    // align-items: center;

    & > div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @media only screen and (max-width: $mobileMedium) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 1rem;
    }

    .form {
      @media only screen and (max-width: $mobileMedium) {
        grid-column: 1 / -1;
        grid-row: 1;
      }
    }

    .mail-us {
      @media only screen and (max-width: $mobileMedium) {
        grid-row: 2;
        grid-column: 1 / span 3;
      }
    }

    .follow-us {
      // width: 12%;
      width: 7rem;

      @media only screen and (max-width: $mobileMedium) {
        grid-column: 12;
        grid-row: 2;

        width: 6rem;
      }
    }
    h3 {
      font-size: 0.8rem;
      font-weight: $medium;
      margin-bottom: $marginhalfx;

      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.2rem;
      }
    }

    .color-red {
      color: $primaryRed;
    }

    .border-red {
      background-color: $primaryRed;
      width: 2rem;
      height: 0.15rem;
      margin-bottom: $margin1x;
    }

    .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media only screen and (max-width: $mobileMedium) {
        // width: 7rem;
      }
    }

    .mail-txt {
      font-size: $default;
      @media only screen and (min-width: $desktopLarge) {
        font-size: 1.2rem;
      }
    }

    .social-link {
      cursor: pointer;
    }
  }

  .quick-links {
    grid-row: 8;
    padding: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $neutralWhite;

    @media only screen and (max-width: $mobileMedium) {
      flex-direction: column;
    }

    .links {
      width: 35%;

      @media only screen and (max-width: $mobile) {
        width: 50%;
      }

      @media only screen and (max-width: $mobileMedium) {
        margin-top: $margin2x;
        width: 100%;
      }

      .link-head {
        font-weight: $bold;

        span {
          display: block;
          background-color: $neutralWhite;
          width: 2rem;
          height: 0.15rem;
          margin: 0.5rem 0;
        }
      }
      .link-group {
        display: flex;
        justify-content: space-between;

        .link {
          font-size: 0.8rem;
        }
      }
    }
  }

  .logo {
    width: 8rem;
    @media only screen and (min-width: $desktopLarge) {
      width: 12rem;
    }
  }

  .copyright-section {
    // justify-self: flex-end;
    grid-row: 10;
    background-color: $primary;
    color: $neutralWhite;
    font-weight: $medium;
    font-size: 0.8rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;

    @media only screen and (max-width: $mobileMedium) {
      font-size: 0.7rem;
    }
  }
}
