@import "../../styles/variables.scss";

.footer-section {
  //   for testing
  height: 40rem;
  /////

  background-image: url(https://res.cloudinary.com/dqove2qhg/image/upload/v1654064857/Upzyde/footer-1_g1ldpe.webp);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 40rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .copyright-section {
    justify-self: flex-end;
    background-color: $primary;
    color: $neutralWhite;
    font-weight: $medium;
    font-size: 0.8rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
  }
}
