@import "../../../styles/variables.scss";

.contact-overview {
  padding: $sectionSpacing 0;

  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $mobile) {
    flex-direction: column;
    padding: $sectionSpacingSmall 0;
  }

  .form {
    width: 60%;
    @media only screen and (max-width: $mobile) {
      width: 100%;
      margin: $margin1x auto;
    }
  }

  .location {
    .txt {
      margin: $margin1x 0;
      line-height: 10px;
      font-weight: $medium;
      font-size: $default;
      @media only screen and (max-width: $mobile) {
        font-size: 0.9rem;
      }
    }
    @media only screen and (max-width: $mobile) {
      width: 100%;
      margin: $margin1x auto;
    }
  }

  h2 {
    font-size: $sectionTitle;
    @media only screen and (max-width: $mobile) {
      font-size: $sectionTitleSmall;
    }
  }
}
