@import "../../../styles/variables.scss";

.contact-overview {
  padding: $sectionSpacing 0;

  display: flex;
  justify-content: space-between;

  .form {
    width: 60%;
  }

  h2 {
    font-size: $sectionTitle;
  }
}
