@import "../../styles//variables.scss";

.benefits-container {
  padding: $sectionSpacing 0;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media only screen and (max-width: $mobile) {
    padding: $sectionSpacingSmall 0;
  }

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;
    margin-bottom: $margin2x;
    color: $neutralWhite;

    @media only screen and (min-width: $desktopLarge) {
      font-size: $sectionTitleBig;
    }
    @media only screen and (max-width: $mobile) {
      font-size: $sectionTitleSmall;
      margin-bottom: $margin1x;
    }
  }

  h3 {
    font-size: $sectionSubTitle;
    margin: $margin2x 0;
    color: $primary;
    font-weight: $bold;

    @media only screen and (min-width: $desktopLarge) {
      font-size: $sectionSubTitleBig;
    }

    @media only screen and (max-width: $mobile) {
      font-size: $sectionSubTitleSmall;
      margin: $margin1x 0;
    }
  }

  .content-container {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 1rem;

    .card {
      color: $neutralWhite;
      background-color: $primary;
      text-align: center;

      .card-title {
        background-color: $gradientOne;
        font-size: 0.9rem;
        font-weight: $bold;
        padding: 0.7rem 0;
        text-transform: uppercase;
        @media only screen and (min-width: $desktopLarge) {
          font-size: 1.2rem;
        }
      }

      .card-txt {
        font-size: $cardPara;
        padding: 0.7rem;
        font-size: 0.9rem;
        display: flex;
        width: 90%;
        margin: 0 auto;
        line-height: 20px;
        @media only screen and (min-width: $desktopLarge) {
          font-size: 1rem;
        }
      }
    }
  }

  .two-columns {
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    margin: 0 auto;
    @media only screen and (max-width: $mobile) {
      width: 80%;
    }

    @media only screen and (max-width: $mobileMedium) {
      grid-template-columns: 1fr;
    }
  }

  .three-columns {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;

    @media only screen and (min-width: $desktopLarge) {
      width: 100%;
    }

    @media only screen and (max-width: $mobile) {
      width: 90%;
    }

    @media only screen and (max-width: $mobileMedium) {
      grid-template-columns: 1fr;
    }
  }
  .cta {
    margin-top: $margin2x;
    text-align: center;

    button {
      background-color: $primaryRed;
      color: $neutralWhite;
    }
  }
}
