@import "../../styles//variables.scss";

.benefits-container {
  padding: $sectionSpacing 0;
  text-align: center;

  h2 {
    font-size: $sectionTitle;
    text-transform: uppercase;
    margin-bottom: $margin2x;
  }

  h3 {
    font-size: $sectionSubTitle;
    margin: $margin2x 0;
    color: $primary;
  }

  .content-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 2rem;
  }
  .cta {
    margin-top: $margin1halfx;
    text-align: center;

    button {
      background-color: $primaryRed;
      color: $neutralWhite;
    }
  }
}
